{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  ring {:mvn/version "1.8.0"}
  hiccup {:mvn/version "1.0.5"}
  clojure.java-time {:mvn/version "0.3.2"}
  clj-http {:mvn/version "3.10.1"}
  hickory {:mvn/version "0.7.1"}
  joda-time {:mvn/version "2.9.4"}}

 :paths ["src" "resources" "classes"]

 :aliases
 {:dev {:extra-paths ["scripts" "classes"]
        :extra-deps {hickory {:mvn/version "0.7.1"}
                     clj-http {:mvn/version "3.10.1"}
                     clj-time {:mvn/version "0.15.2"}
                     weasel {:mvn/version "0.7.1"}
                     me.raynes/fs {:mvn/version "1.4.6"}
                     hawk {:mvn/version "0.2.11"}}}
  :uberjar {:deps {uberdeps {:mvn/version "0.1.10"}}
            :main-opts ["-m" "uberdeps.uberjar"]}}}
